<!DOCTYPE HTML> 
<html lang="en"> 
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/jquery.highlight.js"></script>
  <script type="text/javascript" charset="utf-8">
    
    var WS_URI = 'ws://<%= IP %>:8080/<%= @channel_name %>';
    
    // Shared socket status
    function socketStatus(socket) {
      socket.onopen = function() {
        $('#status').removeClass('disconnected').addClass('connected').text('connected');
      }
      
      socket.onclose = function() {
        $('#status').removeClass('connected').addClass('disconnected').text('disconnected');
      }
    }
  </script>
  <% yield_content :head %>
</head>
<body>
  
  <div id="wrapper">
    
    <div id="main" class="rounded shadowed">
      <h1>http://<%= IP %>:<%= request.port %>/<%= @channel_name %>/<%= title %></h1>
      <div id="primary">
        <%= yield %>
      </div>
      <div id="status" class="rounded"></div>
    </div>
    
  </div>
  
</body>
</html>